/* reset */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;
}

/* variables */
/* base */
body, html {
  scroll-behavior: smooth;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 38px;
  line-height: 1.5em;
  color: #323232;
  background: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: lighter;
}

section {
  height: 100vh;
  width: 100%;
  padding: 3rem;
}

p {
  margin: 1rem 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #16a085;
  transition: color 0.3s;
}
a:hover {
  color: #107360;
}

img {
  max-width: 100%;
  margin: 1rem 0;
}

.video-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.video-container iframe,
.video-container video,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* utilities */
.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0;
}

.gap {
  gap: 2rem;
}

.no-gap {
  gap: 0;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.small {
  color: #6E6E6E;
  font-size: 26.6px;
  line-height: 1.5em;
}

.big {
  font-size: 49.4px;
  line-height: 1.5em;
}

.hidden {
  display: none !important;
}

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem;
  font-size: 21.66px !important;
}

#nav {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 0 1rem;
}
.active #nav {
  visibility: visible;
  opacity: 1;
}
#nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav ul li {
  padding: 0 1rem;
}
#nav ul li a {
  text-decoration: none;
  color: #323232;
  font-weight: normal;
}
#nav ul li a:hover {
  color: #6E6E6E;
}
#nav ul li a.active {
  text-decoration: underline;
  text-underline-offset: 0.15rem;
}

#navbtn {
  cursor: pointer;
}

.bars {
  width: 22px;
  height: 12px;
  position: relative;
}
.bars .bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  border-radius: 100px;
  transition: all 0.3s;
  transform: rotate(0);
}
.bars .bar:first-child {
  top: 0;
}
.active .bars .bar:first-child {
  transform: rotate(45deg);
  top: 5px;
}
.bars .bar:last-child {
  bottom: 0;
}
.active .bars .bar:last-child {
  transform: rotate(-45deg);
  bottom: 5px;
}

/* button */
.btn {
  font-size: 0.5rem;
  border: black 2px solid;
  background: #323232;
  color: #ffffff;
  padding: 0.5rem 0.75rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.1s;
}

.btn:hover {
  background: #ffffff;
  color: #323232;
}

/* form */
form {
  width: 100%;
  font-size: 0.5rem;
  max-width: 576px;
  margin: 0.5rem auto;
}

form .form-group {
  margin: 0.5rem 0;
  width: 100%;
}

label {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  line-height: 1.5em;
}

form input,
form textarea,
form select,
form option {
  font-size: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  border: black 2px solid;
  background: white;
  transition-duration: 0.1s;
  font-family: Arial, Helvetica, sans-serif;
}

form.form-inline input,
form.form-inline textarea,
form.form-inline select,
form.form-inline option {
  width: auto;
  display: inline;
}

form textarea {
  resize: none;
  height: 25vh;
}

/* scroll */
.scroll-snap {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.scroll-snap .scroll-snap-block {
  scroll-snap-align: center;
}

/* loader */
.loadscreen {
  z-index: 1000;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.loadscreen.loaded {
  animation: slide 0.75s forwards;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*# sourceMappingURL=style.css.map */
