/* base */

body, html
{

    scroll-behavior: smooth;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: $body-font-size;
    line-height: 1.5em;

    color:      $body-fg;
    background: $body-bg;
}

@media screen and (max-width: 600px)
{
    html, body
    { 
        font-size: .8 * $body-font-size; 
        text-align: center !important;
    }
}

@media screen and (max-width: 400px) 
{
    html, body 
    { 
        font-size: .65 * $body-font-size; 
    }

    section { padding: 4 * $spacer  1.5 * $spacer !important; }
}

h1, h2, h3, h4, h5, h6
{
    font-size:   1rem;
    font-weight: lighter;
}

section 
{
    height: 100vh;
    width: 100%;

    padding: 4 * $spacer 3 * $spacer;
}

p
{
    margin: 1 * $spacer 0;
}

a
{
    text-decoration: none;
    cursor: pointer;
    color: $primary;

    transition: color .3s;

    &:hover
    {
        color: darken($primary, 10%);
    }
}

img
{
    max-width: 100%;
    margin: 1 * $spacer 0;
}

.video-container 
{ 
    position: relative;

    height: 100%;
    width: 100%;
}

.video-container iframe,
.video-container video,
.video-container embed
{ 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}


