/* header */

#header
{
    position: fixed;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    padding: 1 * $spacer;

    font-size: .57 * $body-font-size !important;
}

#nav
{
    visibility: hidden;

    opacity: 0;
    transition: opacity .3s;

    padding: 0 1 * $spacer;

    .active &
    {
        visibility: visible;
        opacity: 1;
    }

    ul
    {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul li
    {
        padding: 0 1 * $spacer;
    }

    ul li a
    {
        text-decoration: none;
        color: $body-fg;
        font-weight: normal;
    }

    ul li a:hover
    {
        color: $secondary;
    }

    ul li a.active
    {
        text-decoration: underline;
        text-underline-offset: .15 * $spacer;
    }

}

#navbtn
{
    cursor: pointer;
}

.bars
{
    width: 22px;
    height: 12px;

    position: relative;

    .bar
    {
        position: absolute;

        width: 100%;
        height: 2px;

        background: black;

        border-radius: 100px;

        transition: all .3s;

        transform: rotate(0);
    }

    .bar:first-child { top: 0; }

    .active & .bar:first-child 
    { 
        transform: rotate(45deg);
        top: 5px;
    }

    .bar:last-child { bottom: 0; }

    .active & .bar:last-child
    {
        transform: rotate(-45deg);
        bottom: 5px;
    }
}